{% extends "base.html" %} 
{% block content %}
<style>
    .contact-form{
        background-color: white;
        border-radius: 20px;
    }
    .contact-text-content{
        background-color: white;
    }
</style>


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="site-heading my-4 mt-3 text-white"> Contact us</h1>
                    <p class="text-light">Even if you simply want to talk :)</p>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid contact-text-content mb-5">
        <div class="row">
            <div class="col-8 mx-auto">
                {% if message_name %}
                    <center>
                        <br><br><br>
                        <h1>
                            Thanks {{message_name}} for contacting us!
                        </h1>
                        <p class="text-muted">
                            Your message was sendend. We will anwser you as soon as we can :)
                        </p>
                        <br><br><br>
                    </center>
                {% else %}
                <h3 class=" mt-4"> Hello ! </h3> <br>
                <p style="line-height: 2;">You can write to us using this contact forms below or through facebook and instagram. You will find the needed links in the sidebar on the main page. 
                    If you have any questions about the web page, posted content and so on please text to Damian. He is the right one for you. In case you dont know how to shoot the perfect photo on your own adeventure or how to plan the perfect journey
                then please let Barbara know. And don't forget that, even if you choose the wrong person, we will recive your mail and contact you with the right one of us.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            <form action="{% url 'contact' %}" method="post" class="contact-form p-5">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4 float-left">
                            <div class="mb-3">
                                <label for="sendersNameId"> Name</label>
                                <input class="form-control" type="text" name="senders-name" id="sendersNameId">
                            </div>
                            <div class="mb-3">
                                <label for="mailFrom">E-mail adress</label>
                                <input class="form-control" type="email" name="senders-email" id="mailFrom">
                                <div class="form-text">
                                    Your email adress will be used only for contact purpose.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="selectPerson">Text to</label>
                                <select class="form-control" id="selectPerson" name="email-recipiest">
                                    <option>Barbara</option>
                                    <option>Damian</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 mb-3 float-right" >
                            <label for="messageContent" class="form-label"> Text me </label>
                            <textarea class="form-control" name="senders-message" id="messageContent" rows="10"></textarea>
                        </div>
                        <div class="col-12">
                            <div>
                                <button id="sendTo" type="submit" class="btn btn-dark">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endif %}

{%endblock%}

<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkboxForDamian">
    <label for="checkboxForDamian" class="form-check-label">I agere
        <div class="form-text">for using my email adress for contact purpose.
        </div>
    </label> 
</div>